<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">社区精华贴</h3>
        </div>
        <div class="panel-body">

          <div class="topics">

            <div class="topic clearfix">
              <div class="topic-vote pull-left visible-md-block visible-lg-block">
                <button type="button" class="vote-btn btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                  <span class="vote-count">3199</span>
                </button>
                <button type="button" class="vote-btn btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </button>              
              </div>
              <div class="topic-avtar pull-left">
                <a href="#">
                  <img src="/images/avtar.png" alt="" class="thumbnail">
                </a>
              </div>
              <div class="topic-body pull-left">
                <div class="topic-title">
                  <a href="#">
                    [北京][2015年7月18日] Ruby技术聚会(优点是内容可以为任何HTML元素，包括超链接和图片等，在IE6中还会在结尾自动显示省略号。缺点是必须指定宽度数值，并且宽度不能是百分数，否则在IE中会被认为是字符总长的百分比)
                  </a>  
                </div>
                <div class="topic-info visible-md-block visible-lg-block">
                  <span>
                    •
                    <a href="#" class="topic-author">Paul</a>
                  </span>
                  <span>
                    •
                    最后由 <a href="#">ahnniu</a> 于 
                    <abbr title="2015-07-15T10:55:54+08:00" class="initialism">4小时前</abbr>回复
                  </span>
                </div>
              </div>
              <div class="topic-count pull-right ">
                <span class="badge">14</span>
              </div>
            </div>                  <!-- div.topic End  -->


          </div>                    <!-- div.topics End -->
        </div>

      </div>
    </div>
  </div>
</div>


<!-- =================================================== -->
<!-- 
NOTE: 正式用时 需要删除
以下的javascript代码仅仅是为了页面展示，列表多列出来几个
正式的view中需要删除

另：此处加载了jquery.js, 因为在layout中，js加载都放到了最后面，
javascript解析运行是按照先后顺序，如果没有加载jquery.js, 
会提示 $ 没有定义
 -->
<script src="/vendor/jquery/dist/jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var _topic = $("div.topic").html();
    for(var i = 0; i < 2; i++) {
      $("div.topic").clone().appendTo("div.topics");  
    }
    
  })
</script>
<!-- =================================================== -->