<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-menu-btn">
        <span class="sr-only" >Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>

      <a class="navbar-brand" href="#">Raddit</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-menu-btn" >
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <form action="" class="navbar-form navbar-right">
        <div class="form-group">
          <label for="UserLoginEmail" class="sr-only">Enter Email</label>
          <input type="email" class="form-control" id="UserLoginEmail" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="UserLoginPassword" class="sr-only">Enter Password</label>
          <input type="password" class="form-control" id="UserLoginPassword" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>
    </div>
  </div>
</nav>

