<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-menu-btn">
        <span class="sr-only" >Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>

      <a class="navbar-brand" href="#">Raddit</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-menu-btn" >
      <ul class="nav navbar-nav">
        <li class="active"><a href="/prototype">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>

      <div class="header-join-login navbar-right">
        <a href="/prototype/join" class="btn btn-default navbar-btn">Sign up</a>
        <a href="/prototype/login" class="btn btn-default navbar-btn">Sign in</a>
      </div>

    </div>
  </div>
</nav>

