<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">社区精华贴</h3>
        </div>
      <div class="panel-body">
        <ul class="media-list">
          <li class="topic media">

            <div class="media-left topic-vote">
              
              <button type="button" class="vote-btn btn btn-default btn-xs">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span class="vote-count">3199</span>
              </button>
              <button type="button" class="vote-btn btn btn-default btn-xs">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </button>
            </div>

            <div class="media-body clearfix">

              <div class="topic-avtar pull-left">
                <a href="#">
                  <img src="images/avtar.png" alt="" class="media-object thumbnail">
                </a>
              </div>

              <div class="topic-body pull-left">
                <div class="topic-title media-heading">
                  <a href="#">
                    [北京][2015年7月18日] RubySaturday 技术聚会
                  </a>  
                </div>
                <div class="topic-info visible-md-block visible-lg-block clearfix">
                  •
                  <a href="#" class="topic-author">Paul</a>
                  <span>
                    •
                    最后由 <a href="#">ahnniu</a> 于 
                    <abbr title="2015-07-15T10:55:54+08:00" class="initialism">4小时前</abbr>回复
                  </span>
                </div>
              </div>
            </div>
            <div class="media-right media-top">
              <span class="badge">14</span>
            </div>
          </li>
          
        </ul>
        <li class="topic media">

          <div class="media-left topic-vote">
            
            <button type="button" class="vote-btn btn btn-default btn-xs">
              <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
              <span class="vote-count">3199</span>
            </button>
            <button type="button" class="vote-btn btn btn-default btn-xs">
              <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
          </div>

          <div class="media-body clearfix">

            <div class="topic-avtar pull-left">
              <a href="#">
                <img src="images/avtar.png" alt="" class="media-object thumbnail">
              </a>
            </div>

            <div class="topic-body pull-left">
              <div class="topic-title media-heading">
                <a href="#">
                  [北京][2015年7月18日] RubySaturday 技术聚会
                </a>  
              </div>
              <div class="topic-info visible-md-block visible-lg-block clearfix">
                •
                <a href="#" class="topic-author">Paul</a>
                <span>
                  •
                  最后由 <a href="#">ahnniu</a> 于 
                  <abbr title="2015-07-15T10:55:54+08:00" class="initialism">4小时前</abbr>回复
                </span>
              </div>
            </div>
          </div>
          <div class="media-right media-top">
            <span class="badge">14</span>
          </div>
        </li>
      </div>

      </div>
    </div>
  </div>
</div>
