<div><p>This is homepage.</p></div>
<hr>

<div class="container-fluid">
  <div class="row">
    <div id="list_container_main" class="col-xs-12 col-md-offset-2 col-md-8">
      <h1>社区精华帖</h1>
      <div class="row">
        <div id="list_posts" class="col-xs-12 col-md-12">
          <div class="row  clearfix list_post">
            <div class="col-xs-2 col-md-2 list_post_item">

              <div class="col-xs-1 col-md-1 list_post_updown">
                <div class="row">
                  <div class="col-xs-12 col-md-12 text-center list_post_btn">
                    <button type="button" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                  </div>              
                </div>
                <div class="row ">
                  <div class="col-xs-12 col-md-12 text-center list_post_btn">
                    <button type="button" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-xs-9 col-md-9 list_post_thumbnail">
                <img src="https://b.thumbs.redditmedia.com/a_JnevobLtHmnvPJdG2mpUBGDdVms4N6f4eG_GllORA.jpg" alt="">
              </div> 
              <div class="col-md-2"></div>
            </div>
            <div class="col-xs-7 col-md-7 list_post_content">
              <div class="row">
                <div class="col-xs-12 col-md-12 list_post_title">
                <h4>
                  <a href="#">
                    断言：不懂《提问的智慧》的人不会从初级程序员水平毕业
                  </a>
                </h4>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-12 list_post_meta">
                  <span>
                    由 <a href="#">lmzheng</a> 发表于 1天前
                  </span>
                  <span>
                    最后由 <a href="#">rubist</a> 于 5小时前回复
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xs-1 col-md-1 list_post_commits">
              <a href="#" class="span badge">21</a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-md-1">
          <div class="row">
            <div class=" col-md-4" style="border:1px solid; margin-top:20px" >1</div>
            <div class="col-xs-12 col-md-8">
              <div class="row" style="margin-top:5px;">
                <div class="col-md-12">
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="#" class="thumbnail">
            <img src="https://b.thumbs.redditmedia.com/a_JnevobLtHmnvPJdG2mpUBGDdVms4N6f4eG_GllORA.jpg" alt="">
          </a>
          
        </div>
        <div class="col-xs-6 col-md-6">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <a href="#">This looks very similar to reddit, RIGHT NOW!</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">submitted 4 hours ago by Warstormss</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">246 Commits</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-0 col-md-2"></div>
  </div>
</div> -->

